HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application.properties

src/main/resources/CosConfig.xml

.git.bfg-report/2020-12-08/20-22-22/cache-stats.txt

.git.bfg-report/2020-12-08/20-22-22/deleted-files.txt

.git.bfg-report/2020-12-08/20-22-22/object-id-map.old-new.txt

.git.bfg-report/2020-12-08/20-22-22/protected-dirt/07b43922-HEAD.csv

.git.bfg-report/2020-12-08/20-22-38/protected-dirt/7dd9e119-HEAD.csv

.git.bfg-report/2020-12-08/20-25-01/cache-stats.txt

.git.bfg-report/2020-12-08/20-25-01/deleted-files.txt

.git.bfg-report/2020-12-08/20-25-01/object-id-map.old-new.txt

.git.bfg-report/2020-12-08/20-25-01/protected-dirt/7dd9e119-HEAD.csv

.git.bfg-report/2020-12-08/20-26-31/cache-stats.txt

.git.bfg-report/2020-12-08/20-26-31/deleted-files.txt

.git.bfg-report/2020-12-08/20-26-31/object-id-map.old-new.txt

.git.bfg-report/2020-12-08/20-37-27/cache-stats.txt

.git.bfg-report/2020-12-08/20-37-27/deleted-files.txt

.git.bfg-report/2020-12-08/20-37-27/object-id-map.old-new.txt

.git.bfg-report/2020-12-08/20-37-27/protected-dirt/88d8ec10-HEAD.csv

.git.bfg-report/2020-12-08/20-38-01/cache-stats.txt

.git.bfg-report/2020-12-08/20-38-01/deleted-files.txt

.git.bfg-report/2020-12-08/20-38-01/object-id-map.old-new.txt

bfg.jar
